{% extends "wrapper.html" %}

{% block content %}
<div id="viewer">
    {% if target_user %}
    <div class="viewer">
        <div class="clear"></div>
        <h1>
            What classes is {{ target_user.email.split('@')[0] }} taking?
        </h1>
    </div>

    <div class="results">
        <div class="card">
            <div class="card-header">{{ target_user.email.split('@')[0] }}</div>
            <table class="card">
                {% for course in courses %}
                <tr>
                    <td class="class-cell">
                        <a href="http://student.mit.edu/catalog/search.cgi?search=+{{ course.code }}">
                        {{ course.code }}
                        </a>
                    </td>
                    <td class="name-cell">
                        {{ course.name }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="searcher pb">
        <a href="{{ url_for('index') }}">
            <button class="red">Explore Others</button>
        </a>
    </div>
    {% else %}
    <div class="viewer">
        <div class="clear"></div>
        <h1>
            404 Not found 😶
        </h1>
    </div>
    <div class="searcher pb">
        <a href="{{ url_for('index') }}">
            <button class="red">Continue</button>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}
