{% extends "wrapper.html" %}
{% block title %}search{% endblock %}

{% block content %}
<div id="viewer">
    <div class="viewer">
        <div class="left-float">
            <a href="{{ url_for('edit') }}">
                <button class="green">
                    Edit
                </button>
            </a>
        </div>
        <div class="right-float">
            <a href="{{ url_for('logout') }}">
                <button class="blue">
                    Logout
                </button>
            </a>
        </div>
        <div class="clear"></div>
        <h1>
            What classes is everyone taking?
        </h1>
    </div>
    <div class="searcher">
        <table>
            <tr>
            <td>
            <input v-model="query"
                    class="searchbox"
                    type="text"
                    placeholder="Search"
                    onblur="this.focus()"
                    :autofocus="'autofocus'"
                    autocomplete="off"
                    @input="debounceSearch"
                    @keyup.enter="doSearch">
            </td>
            <td>
            <select class="search" v-model="searchby">
                <option value="user">People</option>
                <option value="class">Classes</option>
                <option value="ml">Mailing List</option>
            </select>
            </td>
            </tr>
        </table>

        <p class="error" v-if="err != ''" v-cloak>Invalid mailing list or hidden 🤔</p>
        <p class="error" v-if="nores" v-cloak>No results found 😔</p>
        <div class="loader" v-if="loading"></div>
    </div>

    <div class="results">
        {% raw %}
        <div class="row" v-for="i in rowCount" v-cloak>
            <div class="column" v-for="item in itemCountInRow(i)">
                <div class="card">
                    <div class="card-header">{{ item.kerb }}</div>
                    <table class="card">
                        <tr v-for="course in item.courses">
                            <td class="class-cell">
                                <a :href="'http://student.mit.edu/catalog/search.cgi?search='+course.code">
                                {{ course.code }}
                                </a>
                            </td>
                            <td class="name-cell">
                                {{ course.name }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {% endraw %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='viewer.js') }}"></script>
{% endblock %}
